.newPageHeading{
   text-align: center;
   margin-top: 30%;

}
.ShowData 
{
   overflow-y: scroll;
}

.noteEnteryField{
   background-color: rgba(52, 224, 95, 0.913);
}
.notetitle{
   margin: 10px 5px;
   margin-left: 20%;
   font-size:40px;
   height: 5vh;
   width: 40vw;
   text-align: center;
}
.noteBody{
   height: 40vh;
   width: 60vw;
   margin: 5px;
   margin-left: 20px;
   font-size: 20px;
   /* overflow-y:scroll; */
}
.noteEntrytitle{
   margin: 10px 5px;
   margin-left: 15%;
   font-size:25px;
   height: 5vh;
   width: 40vw;
   text-align: center;
}
.noteEntryBody{
   height: 30vh;
   width: 55vw;
   margin: 5px;
   margin-left: 20px;
   font-size: 20px;
}
.SubmitBtn{
   background-color: green;
   margin-bottom: 20px;
}
.ShortCutKeys{
   background-color: green;
   float: right;
   margin-top: 20px;
}