.SearchField{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.app-sidebar-notes{
    padding: 5px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
/* .notesList{
    overflow-y: scroll;
} */
.active{
    background-color: rgb(108, 108, 227);
}