.SearchField{
    margin: 5px; 
    width: 15vw;
    height: 5vh;
    font-size: 15px;   
}
.app-sidebar-notes{
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
/* .notesList{
    overflow-y: scroll;
} */
.active{
    background-color: black;
    color: white;
}
.deleteBtn{
    float: right;
    
}