.searchBtn{
    margin: 5px; 
    width: 90%;
    height: 5vh;
    font-size: 15px;   
}
.app-sidebar-notes{
    padding: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
/* .notesList{
    overflow-y: scroll;
} */
.active{
    background-color: black;
    color: white;
}
.optionBtn{
   background-color: rgb(146, 146, 146);
   color: black;
   float: right;
}