
/* .sideBar{
    
} */
.btnAndHeading{
    padding: 20px;
}
.addNotebtn{
    height: 8vh;
    width: 4vw;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
}



.Heading{
    color: white;
    font-size: 30px;
}

.sideBarMainBtn button{
  color: white;
  margin-left: 20%;
  padding: 20px;
}

.menuButtonIcon{

}

/* .menuButton ul li {
    list-style: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-align:start;
    padding-left:20px ;
   
} */
.CategoriesBtn{
    height: 4vh;
    width: 2vw;
    font-size: 15px;
    background-color: rgba(52, 224, 95, 0);
    border: none;
    cursor: pointer;
    color: white;
    display: block;
    margin-top: 5px;
}
.CategoriesBtnIcon{
    font-size: 25px;
    display: inline;
    padding: 20px;
}